{% extends 'base.html' %}

{% block content %}
    <div class="user_details">
        <a href="{% url 'profile:show' profile_username=post.owner.user.username%}" style="display: flex; justify-content: center; text-decoration: none; align-items: center; color: #000;">
            <h1>{{post.owner.user.username}}</h1>
            <img src="{{ post.owner.profile_image.url }}" alt="" style="border-radius: 50%; width: 120px; height: 120px; margin-left: 25px;">
        </a>
    </div>
    <div class="single_post_container">
        <div class="post_image_watch">
            <img src="{{ post.image.url}}" alt="">
        </div>
        <div class="utlis_post">
    
            <div class="like" style="margin: 30px;">
                <form action="{% url 'post:like' pk=post.id%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="post.id">
                    <!-- <button style="border: none; background-color: transparent; cursor: pointer;" ><i class="fas fa-heart" style="color: red; font-size: 2rem; cursor: pointer;"></i></button> -->
                    {% if has_liked %}
                        <button style="border: none; background-color: transparent; cursor: pointer;" ><i class="fas fa-heart" style="color: red; font-size: 2rem; cursor: pointer;"></i></button>
                    {% else %}
                        <button style="border: none; background-color: transparent; cursor: pointer;" ><i class="far fa-heart" style="color: red; font-size: 2rem; cursor: pointer;"></i></button>
                    {% endif %}
                </form>
                <div class="likes_count">
                    <h4 style="color: red;">{{post.likes_count}} Likes</h4>
                </div>
            </div>
    
            <div class="comment" style="margin: 30px;">
                <a href="{% url 'post:comments' pk=post.id%}">
                    <button style="border: none; background-color: transparent; cursor: pointer;"><i class="far fa-comment" style="font-size: 2rem;"></i></button>
                </a>
                <h4>{{post.comments_count}} comments</h4>
            </div>
            <div class="post_comments">
                <h2 style="color: rgb(88, 88, 255); margin-left: 15px;">comments:</h2>
                {% for comment in post.last_3_comments %}
                    <h3 style="margin-left:25px;">{{comment.content}}</h3>
                {% endfor %}
            </div>
            
    
        </div>
        
    
    </div>
    
    <div class="post_caption">
        <h2 style="margin-left: 200px;"><span style="color: rgb(96, 96, 255);">caption <br></span>{{post.caption}}</h2>
    </div>

    
{% endblock %}