{% extends 'base.html' %}

{% block content %}
    {% if form_errors %}
        <p>{{ form_errors }}</p>
    {% endif %}
    <form action="{% url 'profile:forgot_password' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if phone_number %}
            <p style="font-size: 1.5rem; color: red;">در حال حاضر سرویس پیامکی غیر فعال است لطفا از کد زیر استفاده کنید</p>
            <p style="font-size: 1.5rem; color: red;">123456</p>
            <input type="hidden" name="phone_number" value="{{phone_number}}">
        {% endif %}
        <input type="submit" value="signup">
    </form>
    <a href="{% url 'profile:signup' %}">
        dont have account? signup
    </a>
{% endblock %}