{% extends 'base.html' %}

{% block content %}
    {% if form_errors %}
        <p>{{ form_errors }}</p>
    {% endif %}
    <form action="{% url 'profile:signup' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if phone_number %}
            <input type="hidden" name="phone_number" value="{{phone_number}}">
        {% endif %}
        <input type="submit" value="signup">
    </form>
    <p>already have an account? <a href="{% url 'profile:signin'%}" style="color: rgb(104, 142, 255);text-decoration: none; font-size: 1.2rem;" >signin</a></p>
{% endblock %}