{% extends 'base.html' %}

{% block content %}
    {% if form_errors %}
        <p>{{ form_errors }}</p>
    {% endif %}
    <form action="{% url 'profile:signin' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if phone_number %}
            <input type="hidden" name="phone_number" value="{{phone_number}}">
        {% endif %}
        <input type="submit" value="signin">
    </form>

    <a href="{% url 'profile:forgot_password' %}">forgot password?</a>
    <a href="{% url 'profile:signup' %}"></a>
{% endblock %}