{% extends 'base.html' %}

{% block content %}
    {% if form_errors %}
        <p>{{ form_errors }}</p>
    {% endif %}
    <form action="{% url 'profile:signin' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if phone_number %}
            <input type="hidden" name="phone_number" value="{{phone_number}}">
        {% endif %}
        <input type="submit" value="signin">
    </form>

    <p>forgot password? <a href="{% url 'profile:forgot_password' %}" style="color: rgb(104, 142, 255);text-decoration: none; font-size: 1.2rem;">click here</a></p>
    <p>dont have account? <a href="{% url 'profile:signup' %}" style="color: rgb(104, 142, 255);text-decoration: none; font-size: 1.2rem;">signup</a></p>
{% endblock %}