{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>
        {% block title %}
        {% endblock%}
    </title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="base_header">
        <ul class="links">
            <li class="home"><a href="{% url 'home_and_explore:home' %}"><i class="fa fa-home"></i></a></li>
            <li class="explore"><a href="{% url 'home_and_explore:explore' %}"><i class="fa fa-search"></i></a></li>
            <li class="share_post"><a href="{% url 'post:create'%}"><i class="fa fa-plus-circle"></i></a></li>
            <li class="activities"><a href="{% url 'activities:all' %}"><i class="fa fa-bell"></i></a></li>    
            <li class="profile"><a href="{% url 'profile:show' profile_username=user.get_username %}"><i class="fa fa-user-o"></i></a></li>
            </ul>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    
</body>
</html>